*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografia Títulos font-family: 'Fjalla One', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Tipografia Textos font-family: 'Space Grotesk', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

header { 
    font-family: 'Fjalla One', sans-serif;
}



body { 
    font-family: 'Space Grotesk', sans-serif;
}

/* GRID */

.grid-area {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
    "encabezado menu"
    "video video"
    "web lateral"
    "publicidad lateral"
    "pie pie" ;
    grid-template-columns: 65% auto;
    grid-template-rows: 0.5fr 2.5fr 1fr 1fr 0.5fr;
    column-gap: 5px;
    row-gap: 5px ;
}



@media screen and (max-width: 768px) {
    .header {
        color: #fff;  
        background-color: #ffffff;      
    }
    
}
.header {
    background-color: rgb(238, 108, 108);
    grid-area: encabezado;
    display: flex;
    padding-left: 10px;
    align-items: center;
    
}




.nav {    
    
    background-color: bisque;
    grid-area: menu;
    display: flex;
    align-items: center;
    
}

.nav__menu {
    display: flex;
    flex-direction: row;
    
}

.nav__items {
    
    list-style: none;
    padding-left: 10px;
    
}
.nav__link {
    text-decoration: none;

}


.main {
    background-color: burlywood;
    grid-area: video;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 5px;
    row-gap: 5px;

    
}

.main img {
    justify-self: center;
    width: 100%;
    height: auto;
    object-fit:cover;
    
}

.servicio1 {
    background-image: linear-gradient(to bottom,blue,white);
    grid-area: web;
    display: flex;
    padding-left: 10px;
    align-items: center;


    transition: all 0.5s;
   
}

.servicio1--animacion:hover {
    transform: scale(1.1);
    }

.ser2--transition:hover{
    background-color: darkgoldenrod;

}

.servicio2 {
    background-color: rgb(84, 108, 136);
    grid-area: publicidad;
    display: flex;
    padding-left: 10px;
    align-items: center;
   
}


.aside {
    background-color: chocolate;
    grid-area: lateral;
}

.aside__youtube {
    height: 100%;
    width: 100%;
   
    
}

.footer {
    background-color: hotpink;
    grid-area: pie;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 @media screen and (max-width:1024px) {
     .main {
         background-color: blueviolet;
     }
    .grid-area {
       
        grid-template-areas:
        "encabezado menu"
        "video video"
        "web lateral"
        "publicidad lateral"
        "pie pie" ;
        grid-template-columns: 65% auto;
        grid-template-rows: 0.5fr 2.5fr 1fr 1fr 0.5fr;
        column-gap: 5px;
        row-gap: 5px ;
    }
     
 }

 @media screen and (max-width:980px) {
    .main {
        background-color: rgb(34, 21, 21);
    }
    .grid-area {
        grid-template-columns: 50% auto;
    }
}

@media screen and (max-width:570px){
    .main {
        background-color: rgb(94, 187, 32);
    }
    .grid-area {

        grid-template-areas:
        "encabezado menu"
        "video"
        "web lateral"
        "publicidad lateral"
        "pie pie" ;
        grid-template-columns: 33% 33% 33% ;
        grid-template-rows: 5% 25% 15% 15% 10%;
 
    }
    
    
}

@media screen and (max-width:320px){
    .main {
        background-color: rgb(94, 187, 32);
    }
    .grid-area {
        
        grid-template-areas:
        "encabezado"
        "menu"
        "video"
        "web" 
        "lateral"
        "publicidad"
        "pie" ;
        grid-template-columns: 100% ;
        grid-template-rows: 5% 5% 15% 15% 15% 15% 5%;
       
    }
    
    
}